<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" sizes="32x32">
    <!-- All CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <main class="main-content-area content">
        <div class="about-content-area pb-100 pt-100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 align-items-center themeix-high">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="call-back themeix-high">
                                    <form action="#" data-aos="fade-up">
                                        <p>
                                            <span class="title">二网设备导入模板生成程序</span>
                                        </p>
                                        <p>
                                            <input type="text" placeholder="流程名称" />
                                            <input class="mt-2 buttonfx curtainup" type="file" value="打开" />
                                        </p>
                                        <p><button type="button" class="mt-2 buttonfx curtainup">打开</button></p>
                                        <p><input type="text" placeholder="流程版本" /></p>
                                        <button type="submit" class="mt-2 buttonfx curtainup">升级</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

{#    <footer>#}
{#        <div class="footer-bottom-area">#}
{#            <p>Copyright &copy; 2025.Powered By 王志强.</p>#}
{#        </div>#}
{#    </footer>#}

    <script src="{{ url_for('static', filename='js/modules/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/bootstrap.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/proper.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/jquery.waypoints.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/owl.carousel.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/magnific.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/typing.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/select2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/aos.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/modules/slimmenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
