<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}" type="image/png" sizes="32x32">
    <!-- All CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css') }}">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
    <main class="main-content-area">
        <div class="job-categories-area bg-color2 pt-100 pb-100 clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="section-title text-left">
                            <span>天翔</span>
                            <h2>综合办公平台</h2>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
                <div class="cat-list-items">
                    <div class="row">
                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/updater.jpg') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            业务流程升级
                                            <span>免停办实时升级业务链流程</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="{{ url_for('importerPage.importer') }}" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/importer.jpg') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            二网设备文件
                                            <span>格式化生成二网设备导入文件</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="{{ url_for('exporterPage.exporter') }}" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/exporter.jpg') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            报表文件导出
                                            <span>格式化导出各类报表 Excel 文件</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-md-4">
                            <a href="https://www.baidu.com" target="_blank">
                                <div class="single-category text-center" data-aos="flip-up">
                                    <div class="cat-icon">
                                        <img src="{{ url_for('static', filename='images/question.png') }}" alt="image" />
                                    </div>
                                    <div class="cat-details">
                                        <h4>
                                            开发中……
                                            <span>待完善……</span>
                                        </h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="footer-bottom-area clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-bottom text-center">
                            <p>Copyright &copy; 2025.Powered By 王志强.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </footer>

    <div class="preloader" id="preloader">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/modules/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/magnific.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/select2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modules/slimmenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
