<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.png" type="image/png" sizes="32x32">
    <!-- All CSS -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/aos.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/magnific.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/select2.min.css">
    <link rel="stylesheet" href="assets/css/slimmenu.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
</head>
<body>
   <main class="main-content-area">
      <div class="about-content-area pb-100 pt-100 clearfix">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-lg-12 align-items-center themeix-high">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="call-back themeix-high">
                           <form action="#" data-aos="fade-up">
                              <p>
                                 <span class="title">业务链流程版本升级程序</span>
                              </p>
                              <p><input type="text" placeholder="流程名称" /></p>
                              <p><button type="submit" class="mt-2 buttonfx curtainup">查询</button></p>
                              <p>
                                 <select class="custom-multi-select" name="state">
                                    <option value="AL">Please Select</option>
                                    <option value="AL">General Query</option>
                                    <option value="AL">Personal Feedback</option>
                                    <option value="AL">Pre Sale Question</option>
                                    <option value="AL">Support Issue</option>
                                    <option value="WY">Refund Issue</option>
                                 </select>
                              </p>
                              <textarea placeholder="Your Message" rows="12"></textarea>
                              <p><input type="text" placeholder="流程版本" /></p>
                              <button type="submit" class="mt-2 buttonfx curtainup">升级</button>
                           </form>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </main>
   <!--footer-area-start -->
   <footer>
      <div class="footer-bottom-area clearfix">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="footer-bottom text-center">
                     <p>Copyright &copy; 2024.Powered By 王志强.</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!--footer-area-end -->

   <!-- ====================ALL JS FILE HERE===================================== -->
   <!-- jQuery -->
   <script src="assets/js/modules/jquery-3.4.1.min.js"></script>
	<script src="assets/js/modules/bootstrap.min.js"></script>
	<script src="assets/js/modules/proper.js"></script>
	<script src="assets/js/modules/jquery.waypoints.min.js"></script>
	<script src="assets/js/modules/owl.carousel.min.js"></script>
	<script src="assets/js/modules/magnific.min.js"></script>
	<script src="assets/js/modules/typing.min.js"></script>
	<script src="assets/js/modules/select2.min.js"></script>
	<script src="assets/js/modules/aos.min.js"></script>
	<script src="assets/js/modules/slimmenu.min.js"></script>
   <script src="assets/js/app.js"></script>
</body>

</html>
